@import "variables.scss";
@import "../../components/Homepage/ListVideo/listVideo.scss";
@import "../../components/Footer/Tabs/tab.scss";
@import "../../components/Header/Search/search.scss";
@import "../../components/VideoPage/videoPage.scss";

html,body{
    width: 100vw;
    height: 100vh;
    background-color: $dark;
}