@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900&display=swap');

$dark: #171636;
$darker: #060621;
$cornflower: #5b60f8;
$white: #ffffff;

$font-multi: 'Muli', sans-serif;