.video{
	background-color: $darker;
	width: 100vw;
	height: 70vw;
	border-radius: 40px;
	margin-bottom: 20vw;
	margin-top:5.2vw;

	&-title{
		position: absolute;
		width: 58vw;
		margin:45vw 0 0 10vw;
		color: white;
		font-family: $font-multi;
		font-size: 1.5rem;
		font-weight: 800;
	}
	&-duration{
		background-color: $cornflower;
		border-radius: 13px;
		margin: 70vw 2vw 0 auto;
	}
}

.separator{
	width: 375px;
	height: 2px;
	background-color: $darker;
}